<div id="blogs">
<h3>Blogs</h3>
<table class = 'table table-stripped'>
     <tbody>
<% @blogs.each do |blog| %>
<tr> <td>
<div class="card">
    <p>
    <strong>Title:</strong>
    <%= blog.title %>
    </p>
    <p>
    <strong>created_at:</strong>
    <%= blog.created_at %>
    </p>

    <p>
    <strong>Text:</strong>
    <%= blog.text %>
    </p>
</div>
</td> </tr>
<% end %>
 </tbody>
</table>
</div>

<%= will_paginate @blogs %>